*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5ebdc;
    color: #502314;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ---------Navbar---------- */

#nav-btn1{
    padding: 10px 16px;
    color: white;
    background-color: #d62300;
    font-size: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50px;
}
#nav-btn2{
    padding: 10px 16px;
    color: whitesmoke;
    background-color: #502314;
    font-size: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50px;
}
a{  
    color: #502314;
}
nav{
    box-shadow: 0 0 4px;
    position: sticky;
    top: 0;
    margin-bottom: 32px;
}

/* --------navbar-------- */


/* --------main section----- */
.hero-div-h{
    font-size: 4rem;
    font-weight: bolder;

}
#hero-btn-1{
    padding: 10px 35px;
    color: whitesmoke;
    background-color: #d62300;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50px;  
}
sup{
    font-weight:lighter;
}
#hero-btn-2{
    padding: 10px 30px;
    color: #d62300;
    border: 1px solid #502314;
    background-color: #f5ebdc;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50px;  
}
/* ---------main section----- */

/* ----------footer----- */
footer{
    margin-top: 120px;
    background: #ebe2d3;
}
#last-div{
    background-color: #502314;
    color: #ebe2d3;
    margin-top: 50px;
    text-align: center;
    padding: 20PX;
}
/* ----------footer----- */

@media(max-width:1000px){
    #nav-btn2{
        display: none;
    }
    #main-div{
        display: flex;
        flex-direction: column;
    }
    .image-div{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}